%btn {
  display: inline-block;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  letter-spacing: -1px;
  font-size: 18px;
  font-weight: 700;

  &:hover {
    text-decoration: none;
  }
}

.btn--light-blue {
  @extend %btn;

  transition: background-color 100ms ease-in-out;
  background-color: $light-blue;

  &:hover {
    background-color: darken($light-blue, 5%);
  }
}
