.get-started {
  background-color: $gray;
  padding: 60px 0;
  text-align: center;
  color: $dark-blue;

  h2 {
    margin-top: 0;
    color: $dark-blue;
    font-size: 48px;
  }

  pre {
    display: inline-block;
    margin: 15px auto;
    background-color: rgba(0, 0, 0, .2);
    padding: 15px 25px;
    width: 360px;
    text-align: left;
    color: $black;
    font-size: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn--outline {
    background-color: $white;
  }
}

.get-started__content {
  @include container;
}
