// Hero
//
// The site hero

.hero {
  position: relative;
  background-image: linear-gradient($light-blue, $teal);
  height: 630px;
  overflow: hidden;
  color: $white;
  font-family: $font-quicksand;

  a {
    color: $white;
  }
}

.hero--short {
  background-color: $light-blue;
  background-image: none;
  padding-bottom: 20px;
  height: auto;

  .hero__nav {
    margin-bottom: 0;
  }
}

.hero__container {
  @include container;

  padding-top: 20px;
}

.hero__logo {
  float: left;
  line-height: 0;

  svg {
    width: 170px;
    height: 40px;
    fill: $green;
  }
}

.hero__nav {
  float: right;
  margin-bottom: 70px;
  list-style: none;
  font-size: 14px;

  li {
    float: left;
    margin-left: 30px;
    line-height: 40px;

    a {
      padding: 5px 10px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        border-radius: 20px;
        background-color: rgba($dark-blue, .5);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.hero__headline {
  clear: both;
  text-align: center;

  .btn--light-blue {
    margin-top: 30px;
  }
}

.hero__illustrations {
  position: absolute;
  bottom: 0;
  width: 100%;

  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

.coffee,
.glasses,
.iphone-hand,
.laptop,
.puzzle-hand,
.puzzle-hand-2,
.puzzle-piece,
.sketch-flow,
.sketch-organization,
.sketch-rocket {
  position: absolute;
}

.coffee {
  bottom: 30px;
  left: 1015px;
  z-index: 200;
  width: 70px;
}

.glasses {
  bottom: 60px;
  left: 85px;
  z-index: 200;
  width: 66px;
}

.iphone-hand {
  bottom: -27px;
  left: 165px;
  z-index: 200;
  width: 138px;
}

.laptop {
  bottom: 0;
  left: 705px;
  z-index: 200;
  width: 310px;
}

.puzzle-hand {
  bottom: 0;
  left: 335px;
  z-index: 200;
  width: 245px;
}

.puzzle-hand-2 {
  bottom: 0;
  left: 605px;
  z-index: 200;
  width: 100px;
}

.puzzle-piece {
  bottom: 153px;
  left: 605px;
  z-index: 300;
  width: 95px;
}

.sketch-flow {
  bottom: 10px;
  left: 490px;
  z-index: 100;
  width: 82px;
}

.sketch-organization {
  bottom: 70px;
  left: 290px;
  z-index: 100;
  width: 160px;
}

.sketch-rocket {
  bottom: 75px;
  left: 775px;
  z-index: 100;
  width: 120px;
}
