html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  background: #fff;
  padding: 0;
  color: #282c61;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none;
  color: #282c61; }
  a:hover {
    text-decoration: underline; }

ul {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

h1 {
  letter-spacing: -4px;
  font-size: 48px;
  font-weight: 400; }

h2 {
  font-size: 22px;
  font-weight: 400;
  font-family: "Quicksand", Helvetica, Arial, sans-serif; }

code {
  font-family: 'Inconsolata', monospace; }

.btn--light-blue {
  display: inline-block;
  border-radius: 20px;
  padding: 10px 20px;
  letter-spacing: -1px;
  font-size: 18px;
  font-weight: 700; }
  .btn--light-blue:hover {
    text-decoration: none; }

.btn--light-blue {
  transition: background-color 100ms ease-in-out;
  background-color: #005ebc; }
  .btn--light-blue:hover {
    background-color: #0051a3; }

.documentation {
  padding: 30px 0 90px 0; }

.documentation__content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px; }
  .documentation__content:after {
    content: " ";
    display: block;
    clear: both; }

.hero {
  position: relative;
  background-image: linear-gradient(#005ebc, #27adc5);
  height: 630px;
  overflow: hidden;
  color: #fff;
  font-family: "Quicksand", Helvetica, Arial, sans-serif; }
  .hero a {
    color: #fff; }

.hero__container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px; }
  .hero__container:after {
    content: " ";
    display: block;
    clear: both; }

.hero__logo {
  float: left; }
  .hero__logo svg {
    width: 170px;
    height: 40px;
    fill: #c5f275; }

.hero__nav {
  float: right;
  margin-bottom: 70px;
  list-style: none;
  font-size: 14px; }
  .hero__nav li {
    float: left;
    margin-left: 30px;
    line-height: 40px; }

.hero__headline {
  clear: both;
  text-align: center; }
  .hero__headline .btn--light-blue {
    margin-top: 30px; }

.hero__illustrations {
  position: absolute;
  bottom: 0;
  width: 100%; }
  .hero__illustrations:after {
    display: table;
    clear: both;
    content: ""; }

.coffee,
.glasses,
.iphone-hand,
.laptop,
.puzzle-hand,
.puzzle-hand-2,
.puzzle-piece,
.sketch-flow,
.sketch-organization,
.sketch-rocket {
  position: absolute; }

.coffee {
  bottom: 30px;
  left: 1015px;
  z-index: 200;
  width: 70px; }

.glasses {
  bottom: 60px;
  left: 85px;
  z-index: 200;
  width: 66px; }

.iphone-hand {
  bottom: -27px;
  left: 165px;
  z-index: 200;
  width: 138px; }

.laptop {
  bottom: 0;
  left: 705px;
  z-index: 200;
  width: 310px; }

.puzzle-hand {
  bottom: 0;
  left: 335px;
  z-index: 200;
  width: 245px; }

.puzzle-hand-2 {
  bottom: 0;
  left: 605px;
  z-index: 200;
  width: 100px; }

.puzzle-piece {
  bottom: 153px;
  left: 605px;
  z-index: 300;
  width: 95px; }

.sketch-flow {
  bottom: 10px;
  left: 490px;
  z-index: 100;
  width: 82px; }

.sketch-organization {
  bottom: 70px;
  left: 290px;
  z-index: 100;
  width: 160px; }

.sketch-rocket {
  bottom: 75px;
  left: 775px;
  z-index: 100;
  width: 120px; }

.features {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 0; }
  .features:after {
    content: " ";
    display: block;
    clear: both; }

.features__box {
  padding: 0 15px;
  width: 33%;
  text-align: center; }
  .features__box img {
    margin-bottom: 15px;
    height: 100px; }
  .features__box h2 {
    color: #27adc5; }

.footer {
  background-color: #005ebc;
  padding: 15px 0;
  color: #fff; }

.footer__content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/pp-logomark.svg");
  background-repeat: no-repeat;
  background-position: center left;
  text-align: right; }
  .footer__content:after {
    content: " ";
    display: block;
    clear: both; }
  .footer__content .slalom-logo {
    height: 15px;
    fill: #fff; }

.heart {
  color: #c5f275; }

.get-started {
  background-color: #e6e5e5;
  padding: 60px 0;
  text-align: center;
  color: #282c61; }
  .get-started h2 {
    color: #282c61;
    font-size: 48px; }
  .get-started pre {
    display: inline-block;
    margin: 15px auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px 25px;
    width: 360px;
    text-align: left;
    color: #2a2a2a;
    font-size: 18px; }
    .get-started pre:last-child {
      margin-bottom: 0; }
  .get-started .btn--outline {
    background-color: #fff; }

.get-started__content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }
  .get-started__content:after {
    content: " ";
    display: block;
    clear: both; }
