a {
  color: $dark-blue;
}

ul {
  margin-top: 0;
  padding-left: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  letter-spacing: -4px;
  font-size: 48px;
  font-weight: 400;
}

h2 {
  margin-top: 1.5em;
  color: $light-blue;
  font-family: $font-quicksand;
  font-size: 28px;
  font-weight: 400;
}

h3 {
  font-family: $font-quicksand;
  font-size: 22px;
  font-weight: 400;
}

code {
  font-family: 'Inconsolata', monospace;
  line-height: 1.5em;
}
