// PatternPack Site Variables

// Colors
$black: #2a2a2a;
$dark-blue: #282c61;
$light-blue: #005ebc;
$teal: #27adc5;
$foam: #6acc9b;
$green: #c5f275;
$gray: #e6e5e5;
$white: #fff;



// Fonts
$font-quicksand: 'Quicksand', Helvetica, Arial, sans-serif;
$font-opensans: 'Open Sans', Helvetica, Arial, sans-serif;



// Grid
$susy: (
  columns: 12,
  container: 1170px
);
